<section class="entry container">
    <header class="entry-header">
        <h1 class="entry-title">{{ data.entry.title }}</h1>
    </header>

    <section class="entry-content">
        <div class="entry-aside">
            <div class="entry-image">
                {{#if data.entry.image.url}}
                    <img src="{{{cloudinaryUrl data.entry.image width=440 height=440 crop='fill'}}}">
                {{else}}
                    <img src="{{ data.entry.oldImage }}">
                {{/if}}
            </div>

            <div class="entry-actions">
                <a href="{{ data.entry.url }}" class="button wide" target="_blank">Zur Website</a>
                <div class="entry-spread">
                    <h4>Sag's weiter!</h4>
                    <a class="m-action" href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Factree.org%2Fresources%2Ftechnik%2Ffairphone" target="_blank">
                        <svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg>&nbsp;<span>Facebook</span>
                    </a>
                    <a class="m-action" href="https://twitter.com/share?url=https%3A%2F%2Factree.org%2Fresources%2Ftechnik%2Ffairphone&amp;via=growactree&amp;text=Fairphone" target="_blank">
                        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>&nbsp;<span>Twitter</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="entry-main">
            <div class="entry-description is-copy">
                {{{data.entry.description.html}}}
            </div>
            <div class="entry-meta">
                <h4>Tags</h4>
                <ul>
                    {{#each data.entry.tags}}
                    <li>{{> tag}}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- <div class="entry-related">
                <h4 class="decorated">Siehe auch</h4>
                <ul>
                    {{#each relatedEntries}}
                        <li>{{> entrySmall}}</li>
                    {{/each}}
                </ul>
            </div> -->
        </div>
    </section>
</section>
