<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{meta.description}}" />
        <meta name="keywords" content="actree eco fair ethical grow together {{meta.keywords}}" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="{{meta.title}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{meta.url}}" />
        <meta property="og:image" content="{{meta.image}}" />
        <meta property="og:description" content="{{meta.description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{#if meta.title}}{{meta.title}} &mdash; {{/if}}actree</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link href="/styles/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" title="no title" charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Source+Sans+Pro:400,700" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
        {{>header}}
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

        {{>footer}}
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<!-- <script src="/js/jquery/jquery-1.11.3.min.js"></script> -->
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->
		{{{isAdminEditorJS user}}}
	</body>
</html>
