<section class="container page-container">
    <h1 class="blog-title">Blog</h1>
    <!-- <h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4> -->
    <div class="blog">
        {{# each data.posts.results}}
            <!-- <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post"> -->
            <section class="excerpt">
              <div class="excerpt__image">
                {{#if image.url}}<a href="{{postUrl slug}}" class="excerpt__image-link"><img src="{{{cloudinaryUrl image width=760 height=300 crop='fill' }}}"></a>{{/if}}
              </div>
              <header class="excerpt__header">
                <h2 class="excerpt__header-title"><a href="{{postUrl slug}}">{{ title }}</a></h2>
                  <p class="excerpt__header-brief">{{#if content.brief}} {{content.brief}} {{/if}}</p>
                  <div class="excerpt__header-meta">{{category.name}} &bull; am {{date publishedDate format="DD.MM.YYYY"}} von {{author.name.first}}</div>
              </header>
            </section>
        {{/each}}
    </div>
    <!-- {{>pagination}} -->
</section>
