<section class="container">
  <article class="post">
      <header class="post-header">
          <div class="post-category">{{data.post.category.name}} &bull; am {{date data.post.publishedDate format="DD.MM.YYYY"}} von {{data.post.author.name.first}}</div>
          <h1 class="post-title">{{data.post.title}}</h1>
          <summary class="post-meta">
              <p>{{data.post.content.brief}}</p>
          </summary>
          {{#if data.post.image.url}}
            <div class="post-image">
                <img src="{{{cloudinaryUrl data.post.image width=1080 height=300 crop='fill' }}}">
                {{#if data.post.imageCredit}}<div class="credit">{{{data.post.imageCredit.html}}}</div>{{/if}}
            {{/if}}
      </header>

      <section class="post-content is-copy">
          {{{data.post.content.extended.html}}}
      </section>

      <footer class="post-footer">
          <img src="{{{ gravatarUrl data.post.author }}}" alt="" />
          <div class="">
              <h4>{{ data.post.author.name.first }}</h4>
              <p>
                  {{data.post.author.bio}}
              </p>
          </div>

      </footer>

      {{#if data.post.showComments}}
      <section class="comments">
        <header class="comments-header">
            <div>
                <h3 class="comments-title">{{commentCount}} Kommentare</h3>
                {{#unless showCreateComment}}<button class="js-toggle-comment">Kommentieren</button>{{/unless}}
            </div>
        </header>

          <div class="">
            {{#if showCreateComment }}
                <div class="">{{> createComment }}</div>
            {{/if}}
            {{#if showUnpublishedComment }}
                <div class="">{{> unpublishedComment }}</div>
            {{/if}}
            <ul class="">
              {{#each comments}}
                <li>{{> comment}}</li>
              {{/each}}
            </ul>
        </div>
      </section>
      {{/if}}

  </article>
</section>
